# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
build/

# misc
.DS_Store
# .env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/asset-manifest.json
build/index.html
build/service-worker.js
build/static/css/2.b46cf031.chunk.css
build/static/css/main.0e7d9d14.chunk.css
build/static/css/main.0e7d9d14.chunk.css.map
build/static/js/runtime-main.00e5e86d.js
build/static/js/runtime-main.00e5e86d.js.map
build/static/media/back_dark.684e609e.svg
build/static/media/back.bcc53b2a.svg
build/static/media/haidilao.cb3fab7d.jpg
build/static/media/haidilaoAAA.f3fd7bf4.jpg
build/static/media/haidilaoBackstrips.b04cf262.jpg
build/static/media/haidilaobamboo.c64b9ee6.jpg
build/static/media/haidilaoClassic.3febdd0e.jpg
build/static/media/haidilaoDaisy.6d9f9107.jpg
build/static/media/haidilaoFatty.200ede41.jpg
build/static/media/like.3af3eb98.svg
build/static/media/search.7f3e8137.svg
.firebase/