.account-info-wrapper {

    padding: 20px;
    h2 {
        font-size: 16px;
        text-align: center;
    }
    .login-info {
        margin-top: 20px;
        text-align: center;
    }
    label > input {
        margin-left: 10px;
    }
    #sign-in-button {
        min-width: 100px;
        margin: 30px auto;
    }
    
    .sign-out {
        margin-top: 30px;
        width: 80px;
    }

}
