$base-color: #c6538c;
$base-color-light: rgba(198, 83, 140, 0.4);
$text-color: #333;
$main-red: #fa4f45;
$border-color: rgba(107, 82, 82, 0.1);
$main-red-light: rgba(250, 79, 69, 0.2);
$main-grey: #f4f4f4;
$main-blue: #1cb9b6;
$text-grey: #999;
$main-yellow: #ffaf16;

// Home Page  ///////////////////////////////////
a {
  color: initial;
}
* {
  font-size: 3.7vw;
}
.ant-tabs {
  color: $text-color;
}
.homepageContainer {
  padding: 12vw 4vw;
  .topNav {
    z-index: 99;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vw;
    .searchBar {
      input {
        background-color: $main-grey;
      }
      border: none;
      background-color: $main-grey;
      text-align: center;
      width: 90%;
      margin-top: 2vw;
      margin-left: 5%;
      height: 8vw;
      border-radius: 1rem;
    }
  }

  .banner {
    min-height: 10rem;
  }

  .category {
    .am-flexbox-item {
      display: inline-block;
    }
    .row {
      margin-top: 1rem;
      text-align: center;

      h6 {
        color: $text-color;
      }
    }
  }

  .special {
    margin-top: 1rem;

    .title {
      color: $text-color;
      font-size: 1rem;
      text-align: center;
    }
    img {
      width: 32%;
      &:not(:last-child) {
        margin-right: 2%;
      }
      display: inline-block !important;
    }
  }

  .vendors {
    .vendorName {
      font-size: 5vw;
      position: relative;
      margin-top: 2vw;
      div {
        color: $text-grey;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .deliveryFee {
      font-size: 4vw;
      color: $text-grey;
    }
    img {
      width: 100%;
    }
  }
}
// end of Home Page  ///////////////////////////////////

// start of single vendor   ///////////////////////////////////
.singleVendor {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;

    height: 12rem;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  }
  .banner {
    height: 12rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    .topbar {
      padding: 0.5rem;
      position: relative;
      z-index: 2;
      & a:not(:first-child) {
        // text-align: right;
        float: right;
        margin: 0 0.6rem;
      }
    }
  }
  .mainContainer {
    width: 100%;
    position: relative;
    top: -2rem;
    padding-bottom: 20vw;
  }
  .topContainer {
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    width: 100%;
    background: white;
    padding: 1.5rem 0.6rem 1rem;

    .title {
      font-size: 1.5rem;
      color: $text-color;
      text-align: center;
    }
    .rating {
      margin-bottom: 1rem;
      text-align: center;
      color: $main-red;
    }
    .tag {
      color: $main-red;
      border: 1px solid $main-red-light;
      padding: 0.1rem;
      margin-right: 0.4rem;
    }
  }
  .divider {
    width: 100%;
    height: 0.5rem;
    background: $main-grey;
  }
  .am-tabs-default-bar-tab {
    display: inline-block;
  }
  .tabs {
    .ant-tabs-nav-list {
      padding: 0 10vw;
      width: 100%;
      text-align: center;

      button {
        font-size: 4vw;
        font-weight: 500;
        padding: 2vw 5vw;
      }
    }
  }
  .menu {
    padding: 1vw 5vw;
    .category {
      font-size: 4vw;
      color: #999;
      text-align: center;
      margin: 5vw auto;
    }
    .gridContainer {
      margin: 4vw 0;
      display: grid;
      grid-template-areas: "dishImage dishDetail";
      grid-template-columns: 25vw 1fr;
      grid-gap: 4vw;
    }
    .dishImage {
      grid-area: dishImage;
      width: 25vw;
      height: 25vw;
      background-position: center;
      background-size: cover;
    }
    .dishDetail {
      grid-area: dishDetail;
      position: relative;
      .price {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .addToCartContainer {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .about {
    padding: 5vw;
    .bussinesInfo {
      font-size: 4vw;
      font-weight: 600;
    }
    .infoDetails {
      & > div {
        margin: 2vw 0;
      }
    }
  }
}

// end of single vendor   ///////////////////////////////////

// start of botNav vendor   ///////////////////////////////////
.botNavbar {
  position: fixed;
  left: 0;
  background: white;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 14vw;
  .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content {
    padding: 0;
  }
  .row {
    text-align: center;
  }
  .am-flexbox-item {
    display: inline-block;
  }
  .am-grid {
    border: none !important;
  }
}
// end of botNav vendor   ///////////////////////////////////

// start of completeCart vendor   ///////////////////////////////////
.completeCart {
  padding-bottom: 25vw;
  width: 100vw;
  min-height: 100vh;
  background: $main-grey;
  color: $text-color;
  .cartEmpty {
    padding: 4vw;
    text-align: center;
    font-size: 4vw;
  }

  .dishInCartContainer {
    background: white;
    .singleVendorCartFooter {
      position: relative;
      border-top: 1px solid $border-color;
      padding: 3vw 5vw;
      .singleCartFooterPrice {
        color: $main-red;
        font-size: 5vw;
        font-weight: 600;
      }
      .singleCartFooterCheckOut {
        background: $main-blue;
        color: white;
        height: 8vw;
        line-height: 8vw;
        font-size: 4vw;
        padding: 0 4vw;
        display: inline-block;
        position: absolute;
        right: 4vw;
        border-radius: 4vw;
      }
    }
    .cartSingleDish {
      padding: 5vw;
      position: relative;
      img {
        width: 26vw;
        height: 26vw;
        border-radius: 12vw;
      }
      .dishContent {
        position: absolute;
        left: 38vw;
        top: 5vw;
        height: 26vw;
        & > div:first-child {
          font-size: 4.2vw;
          font-weight: 600;
          width: 58vw;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        & > div:nth-child(2) {
          width: 58vw;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-right: 5vw;
          svg {
            color: black;
            position: absolute;
            right: 0;
          }
        }
        & > div:nth-child(3) {
          position: absolute;
          bottom: 0;
          font-size: 4.2vw;
        }
        & > div:nth-child(4) {
          right: 0;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
  .vendorRow {
    background: white;
    padding: 3vw 5vw;
    border-bottom: 1px solid $border-color;
    .dishCategory {
      position: absolute;
      right: 4vw;
    }
    img {
      height: 4vw;
      margin-right: 2vw;
    }
  }
  .completeCartHeader {
    width: 100%;
    background: white;
    height: 14vw;
    border-bottom: 1px solid $border-color;
    padding: 3vw;

    .closeButton {
      position: absolute;
      left: 4vw;
      top: 4vw;
    }
    .clearCartButton {
      position: absolute;
      right: 4vw;
      top: 3.5vw;
      font-size: 4.5vw;
    }
    .yourCart {
      font-size: 5vw;
      font-weight: 600;
      text-align: center;
    }
  }
}

// end of completeCart vendor   ///////////////////////////////////

// start of add/minus buttons   ///////////////////////////////////
.decrement {
  position: absolute;
  right: 16vw;
  bottom: 0;
  width: 8vw;
  border-radius: 4vw;
  height: 8vw;
  border: 1px solid $text-grey;
  color: $text-grey;
  span {
    position: absolute;
    font-size: 7vw;
    top: -2vw;
    left: 2.2vw;
    font-weight: 200;
  }
}
.SingleItemQuantity {
  position: absolute;
  right: 10vw;
  bottom: 1vw;
  right: 11vw;
}
.increment {
  width: 8vw;
  text-align: center;

  position: absolute;
  bottom: 0.2vw;
  right: 0;
  span {
    font-size: 7vw;
    position: absolute;
    top: -1.8vw;
    left: 1.6vw;
    font-weight: 200;
  }
  border-radius: 4vw;
  height: 8vw;
  border: 1px solid $main-blue;
  color: $main-blue;
}
// end of add/minus buttons   ///////////////////////////////////

// start of shortCart  ///////////////////////////////////

.shortCart {
  position: fixed;
  left: 5vw;
  bottom: 3vw;
  border-radius: 7vw;
  height: 14vw;
  line-height: 14vw;
  width: 90vw;
  padding: 0 4vw;
  background: $text-color;
  color: white;

  .checkoutContainer {
    position: fixed;
    bottom: 3vw;
    height: 14vw;
    width: 47vw;
    left: 20vw;
    padding: 0 6vw;
    background: rgba(0, 0, 0, 0.1);
    .cartValue {
      color: $main-yellow;
      font-size: 5vw;
      span {
        color: #999;
      }
    }
  }
  .checkOutButton {
    position: fixed;
    right: 5vw;
    font-size: 5vw;
    padding: 0 3vw;
    color: white;
    border-top-right-radius: 7vw;
    border-bottom-right-radius: 7vw;
    background-color: $main-blue;

    bottom: 3vw;
    height: 14vw;
  }
  .cartIcon {
    width: 10vw;
    display: inline-block;
    color: white !important;
    fill: white;
    // position: relative;
    svg {
      position: absolute;
      top: 4vw;
      width: 7vw;
    }
    .cartAmount {
      position: absolute;
      top: 2vw;
      line-height: initial;
      color: black;
      width: 4vw;
      height: 4vw;
      border-radius: 2vw;
      background: $main-red;
      font-size: 4vw;
      line-height: 4vw;
      left: 8vw;
      font-weight: 600;
      padding-left: 0.5vw;
    }
  }
}
// end of shortCart  ///////////////////////////////////

// start of single dish ///////////////////////////////////
.singleDish {
  position: fixed;
  left: 0;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  .banner {
    // width: 3vw;
    background-color: #36414e;
    color: white;
    height: 3vw;
    width: 3vw;
  }
  .bannerImage {
    width: 100vw;
    height: 100vw;
    margin-bottom: 2vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    img {
      margin-top: 2vw;
      width: 10vw;
      margin-left: 2vw;
    }
  }
  .dishTitle {
    padding: 1vw 7vw;
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 3vw;
  }
  .priceContainer {
    margin-top: 1vw;
    padding: 2vw 7vw;
    position: relative;
    .price {
      color: $main-yellow;
      font-size: 7vw;
    }
    .selectOptions {
      top: 3vw;
      position: absolute;
      right: 7vw;
      padding: 0 4vw;
      height: 8vw;
      border-radius: 4vw;
      line-height: 7.5vw;
      font-size: 4vw;
      border: 1px solid $main-blue;
      color: $main-blue;
    }
  }
  .productDescription {
    padding: 3vw 7vw;
    div {
      font-size: 4vw;
    }
  }
}

//end of single dish ///////////////////////////////////

//start of dish Modal ///////////////////////////////////

.dishModal {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  .container {
    .addToCart {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 16vw;
      background-color: $main-blue;
      text-align: center;
      .text {
        color: white;
        line-height: 16vw;
        font-size: 4vw;
        font-weight: 600;
        position: absolute;
        left: 4vw;
        top: 0;
      }
      span {
        color: white;
        line-height: 16vw;
        font-size: 5vw;
      }
    }
    .quantity {
      position: fixed;
      bottom: 16vw;
      left: 0;
      width: 100%;
      height: 16vw;
      background-color: white;
      text-align: center;
      .text {
        line-height: 16vw;
        font-size: 4vw;
        font-weight: 600;
        position: absolute;
        left: 4vw;
        top: 0;
      }
      .addition {
        border-top: $main-grey;
        line-height: 15vw;
        span {
          font-size: 8vw;
          margin: 0 2vw;
        }
      }
    }
    .optionTitle {
      font-size: 4vw;
      font-weight: 600;
      margin-top: 5vw;
      margin-bottom: 2vw;
      span {
        color: $text-grey;
        margin-left: 4vw;
      }
    }
    padding: 3.5vw;
    .head {
      position: relative;
      text-align: center;
      img {
        position: absolute;
        left: 0;
        top: 1.5vw;
      }
      .title {
        font-size: 5vw;
        font-weight: 600;
      }
    }
    .optionSelection {
      display: inline-block;
      background-color: $main-grey;
      padding: 1vw 3vw;
      margin: 1vw 3vw;
      border-radius: 1.5vw;
    }
    .optionSelection.active {
      background-color: $main-blue;
      color: white;
    }
  }
}
//end of dish Modal ///////////////////////////////////

//start of  option button
.option {
  width: 17vw;
  text-align: center;
  line-height: 5vw;
  position: absolute;
  right: 0;
  bottom: 1vw;
  height: 6vw;
  border-radius: 3vw;
  color: $main-blue;
  border: 1px solid $main-blue;
}
// end of option button

//checkout
.checkout {
  background: $main-grey;
  padding: 3vw;
  .header {
    font-size: 5vw;
    color: $text-color;
    text-align: center;
    position: relative;
    span {
      position: absolute;
      left: 0;
    }
  }
  .infoContainer {
    background: white;
    padding: 3vw;
    border-radius: 2vw;
    margin: 1vw 0 ;
    .priceInfoRow{
      line-height: 6vw;;
      position: relative;
      span:last-child {
        position: absolute;
        right: 0;
      }
    }
    .vendorName{
      margin-bottom: 3vw;
      padding-bottom: 3vw;
      border-bottom: 1px  solid $border-color;
    }
    .singleDishInfo{
      line-height: 10vw;
      margin-bottom: 2vw;;
      position: relative;
      min-height: 10vw;
      img{
        height: 9vw;
        width: 9vw;
        position: absolute;
        left:0;
      }
      .first {
        margin-left: 2vw;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 45vw;
        position: absolute;
        left: 10vw;
        color: black;
        font-size: 4.6vw;

      }
      .second {
        position: absolute;
        right: 20vw ;
      }
      .third {
        position: absolute;
        right: 0
      }
      .fourth{
        display: inline-block;
        padding-left: 12vw;
        margin-top: 8vw;
        color: $text-grey;
        line-height: 5vw;
      }
    }
    img {
      width: 5vw;
    }
    .paymentMethod {
      position: relative;
      .right {
        position: absolute;
        right: 0vw;
        img {
          margin-left: 2vw;
          width: 2.5vw;
        }
      }
    }

    .deliveryTime {
      padding: 3vw 0;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      margin: 3vw 0;
      position: relative;
      .right {
        position: absolute;
        right: 0;
        img {
          margin-left: 2vw;
          width: 2.5vw;
        }
      }
    }

    .contactInfo {
      span {
        font-size: 4.6vw;
        padding-left: 4vw;
        color: $text-color;
      }
      input {
        border: none;
        font-size: 4.6vw;
        margin-left: 5vw;
        color: $text-color;
      }
    }
    .location {
      margin-bottom: 2vw;;
      padding: 1vw 10vw 5vw;
      padding-right: 0;
      position: relative;
      .autocomplete-dropdown-container {
        position: absolute;
        background: white;
        z-index: 4;
        .suggestion-item {
          background: $main-grey !important;
          padding: 1vw 2vw;
        }
      }
      .location-search-input {
        width: 100%;
        border: none;
        font-size: 4.6vw;
        color: $text-color;
      }
      .locationImg {
        position: absolute;
        left: 0;
        top: 1vw;
      }

      span {
        font-size: 4.6vw;
        color: $text-color;
      }
    }
  }
  .segment {
    margin: 5vw 0 3vw;
    .segmentTag {
      border-radius: 5vw;
      height: 10vw;
      line-height: 10vw;
      background: #ededed;
      border: none;
      padding: 1vw;
      position: relative;
      .segmentItem {
        height: 8vw;
        color: $text-color;
        border: none;
        font-weight: normal;
        line-height: 8vw;;
        font-size: 4.2vw;
        position: absolute;
        width: calc(50% - 1px);
        text-align: center;
        top: 1vw;
        &.selected {
          border-radius: 4vw;
          color: black;
          font-weight: 600;
        }
        &:first-child {
          left: 1vw;
          border-top-left-radius: 4vw;
          border-bottom-left-radius: 4vw;
        }
        &:last-child {
          right: 1vw;
          border-top-right-radius: 4vw;
          border-bottom-right-radius: 4vw;
        }
      }
     
    }
  }
}

//end of checkout

//start of confirmBtn ///////////////?????//
.confirmBtn {
  position: fixed;
    left: 5vw;
    bottom: 3vw;
    border-radius: 7vw;
    height: 14vw;
    line-height: 14vw;
    width: 90vw;
    padding: 0 4vw;
    background: $text-color;
  .left{
    font-size: 5vw;
    color: $main-yellow;
    line-height: 14vw;
    border-top-left-radius: 7vw ;
    border-bottom-left-radius: 7vw ;
    padding-left: 10vw;;
  }
  .right {
    font-size: 5vw;
    color: white;
    top : 0;
    background: $main-blue;
    position: absolute;
    right: 0;
    height: 14vw;
    width: 45vw;
    text-align: center;
    border-top-right-radius: 7vw ;
    border-bottom-right-radius: 7vw ;
  }
}

//end of confirmBtn ///////////////?????//